<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Testing For EJS</title>
  </head>
  <body>
    <h1>Mithilesh's EJS Page Rendered on the Node JS Server</h1>
  </body>
</html>
